table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  text-align: left;
  padding: 0.6rem 0.4rem;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 600;
  opacity: 0.8;
}
