{{- /* Command Palette */ -}}
{{ partial "command-palette.html" . }}

{{- /* Keyboard Shortcuts Modal */ -}}
{{ partial "shortcuts-modal.html" . }}

{{- /* Back to Top Button */ -}}
{{ partial "back-to-top.html" . }}

{{- /* Scripts */ -}}
{{- $fuseJS := resources.Get "js/fuse.basic.min.js" | minify | fingerprint -}}
<script src="{{ $fuseJS.RelPermalink }}" defer></script>

{{- $paletteJS := resources.Get "js/command-palette.js" | minify | fingerprint -}}
<script src="{{ $paletteJS.RelPermalink }}" defer></script>

{{- $uiJS := resources.Get "js/ui-enhancements.js" | minify | fingerprint -}}
<script src="{{ $uiJS.RelPermalink }}" defer></script>
